<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <nav>
    
        <div class="nav-left">
            <img src="/assets/images/logo.png" alt="logo">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </div>
        
        <div class="nav-right">
            {{#if isLogin}}
                <a href="#" class="btn-auth">Hallo, {{user.name}}</a>
                <a href="/logout" class="btn-auth">Logout</a>
            {{else}}
                <a href="/register" class="btn-auth">Register</a>
                <a href="/login" class="btn-auth">Login</a>
            {{/if}}

            <a href="/contact" class="btn-contact">Contact Me</a>
        </div>
    
    </nav>

    <div class="container">
        <section>

            <div class="section-left">
                <div style="
                    border: 1px solid rgb(214, 213, 213); 
                    width: 350px;
                    padding: 20px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 18px rgb(194, 192, 192)">

                    <img src="/assets/images/astronaut.jpg" alt="image astronaut" width="100%" style="border-radius: 8px;"/>

                    <h2>Samsul Rijal</h2>
                    <p style="color:brown;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit necessitatibus, molestiae inventore officia illum iusto nostrum sequi perferendis voluptate exercitationem eum beatae aperiam ipsa, distinctio pariatur veritatis nam? Vel, hic.</p>

                    <table style="
                            border: 1px solid grey;
                            width: 100%;
                            text-align: center;
                            border-collapse:collapse;
                            " cellpadding="5px">
                        <tr style="background-color: grey; color: white">
                            <th>Experience</th>
                            <th>Year</th>
                        </tr>
                        <tr>
                            <td>Website Kopi</td>
                            <td>2022</td>
                        </tr>
                    </table>
                
                </div>



            </div>

            <div class="section-right">
                <h2>What i do</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur adipisicing elit.ipsum dolor sit amet consectetur adipisicing elit., Optio laboriosam quo deserunt quibusdam vitae facilis deleniti saepe libero natus sunt fugit impedit, aspernatur nihil alias ducimus sapiente quod repellat quaerat.</p>
            
                <div class="skill-container">
                    <div>
                        <img src="/assets/images/astronaut.jpg" alt="image">
                        <h2>Frontend</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus minima fugit commodi quaerat velit eum nam culpa voluptates</p>
                    </div>
                    <div>
                        <img src="/assets/images/astronaut.jpg" alt="image">
                        <h2>Backend</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus minima fugit commodi quaerat velit eum nam culpa voluptates</p>
                    </div>
                    <div>
                        <img src="/assets/images/astronaut.jpg" alt="image">
                        <h2>Fullstack</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus minima fugit commodi quaerat velit eum nam culpa voluptates</p>
                    </div>
                </div>

                <h2>Found Me On</h2>
                <div class="social-media">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        
        
        </section>
    </div>

    
</body>
</html>